<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dlrsvessm/image/upload/v1768912160/movie_theater_bkdyxa.avif)">

</div>

<h1> All Lists </h1>

<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, crop: :fill%>')">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>
