// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.max-height-500 {
  max-height: 500px;
  height: auto; /* Ensures aspect ratio is maintained */
  object-fit: cover; /* Useful if the image container has a fixed height */
}

.max-height-250 {
  max-height: 250px;
  height: auto; /* Ensures aspect ratio is maintained */
  object-fit: cover; /* Useful if the image container has a fixed height */
}
